<nav class="navbar navbar-expand-lg">

  <!-- Homepage -->
  <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Music-Ray</a>

  <!-- Visible only if user is logged in -->
  <a *ngIf="authService?.user" class="nav-link" routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">User Playlists</a>
  <a *ngIf="authService?.user" class="nav-link" routerLink="/track" routerLinkActive="active" ariaCurrentWhenActive="page">Discover Music</a>

  <div class="collapse navbar-collapse justify-content-end">
    <!-- Login Link -->
    <a *ngIf="authService?.user == undefined && !isLoginOrRegisterPage()" class="nav-link" routerLink="/login">Login</a>
    <!-- User Email or 'Guest' -->
    <a *ngIf="authService.user as user" class="nav-link">{{ user.email || 'Guest' }}</a>
    <!-- Logout Link -->
    <a *ngIf="authService?.user != undefined" class="nav-link" (click)="authService.logOut()">Logout</a>
  </div>

</nav>
