/* Navbar styling */
.navbar {
    background-color: #1e1e1e;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

/* Ensure links are aligned properly */
.navbar-collapse {
    display: flex;
    justify-content: flex-end;  /* Align login/logout to the right */
}

/* Link styling */
a {
    font-size: 1.2rem;
    padding: 5px 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: #1db954; /* Spotify green */
    font-weight: 600;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

/* Hover effect for links */
a:hover {
    background-color: #1db954;  /* Green background on hover */
    color: #ffffff;             /* White text on hover */
}

