/* Ensure body and html fill the viewport height */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.content-wrapper {
    margin-top: 70px;
}

input.form-control {
  width: 100%;
  max-width: 400px;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 10px;
}

input.form-control::placeholder {
  color: #777;
}

input.form-control:focus {
  outline: none;
  border-color: #1db954;
  box-shadow: 0 0 0 0.2rem rgba(30, 215, 96, 0.25);
}


/* Alert box styles */
.alert {
    margin-top: 5px;
    background-color: #1e1e1e;
    color: #b3b3b3;
    border: 1px solid #333333;
    padding: 1rem;
    border-radius: 8px;
}

/* Table Styling */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    background-color: #1e1e1e;
}

.table th {
    font-weight: bold;
    color: #ffffff;
    padding: 0.75rem;
}

.table td {
    color: #b3b3b3;
    font-size: 1rem;
    padding: 0.75rem;
    border-top: 1px solid #333333;
}
/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    width: 100%;
    min-width: 120px;  /* Minimum width */
    max-width: 120px;  /* Maximum width */
    background-color: #333333;
    color: #b3b3b3;
    border: 1px solid #333333;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    overflow: hidden; /* Ensure the text doesn't overflow */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
}

.dropdown-toggle:hover {
    background-color: #1db954;
    border-color: #1db954;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    min-width: 100%;
    padding: 0;
}

.dropdown-item {
    color: #b3b3b3;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    text-align: center;
    background-color: #1e1e1e;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #1db954;
    color: white;
}

.dropdown-item:active {
    background-color: #1db954;
    color: white;
}

/* Ensure dropdown stays within container bounds */
.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
