html,
body {
    height: 100%;
    margin: 0;
    background-color: #121212;
    color: #b3b3b3;
    font-family: Arial, sans-serif;
}

.content-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Search input */
input.form-control {
    width: 100%;
    max-width: 400px;
    background-color: #1e1e1e;
    color: #e0d6c8;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 10px;
}

input.form-control::placeholder {
    color: #777;
}

input.form-control:focus {
    outline: none;
    border-color: #1db954;
    box-shadow: 0 0 0 0.2rem rgba(30, 215, 96, 0.25);
}

/* Table styles */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    background-color: #1e1e1e;
}

.table th,
.table td {
    padding: 0.75rem;
    border-bottom: 1px solid #444444;
    /* Subtle bottom border */
}

.table th {
    font-weight: bold;
    color: #1aab4f;
}

.table td {
    color: #e0d6c8;
    font-size: 1rem;
}

/* Optional: Add a slight shadow to the rows for better separation */
.table tr:hover {
    background-color: #333333;
    transition: background-color 0.3s ease;
}

/* Buttons */
.btn {
    background-color: #1aab4f;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    color: #000000;
    font-weight: 600;
}

.btn:hover {
    background-color: #1ed760;
    color: #000000;
}

/* View all tracks button */
#view-all-button {
    margin-left: 5px;
}

/* Play button */
.play-button {
    background-color: #1db954;
    color: #000000;
    margin-left: 50px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button:hover {
    background-color: #1ed760;
    transform: scale(1.15);
    box-shadow: 0 0 10px rgba(30, 215, 96, 0.5);
    transition: all 0.5s ease;
}

.play-button i.fa-play {
    color: #000000;
    font-size: 0.75rem;
}

/* Green 'Add' button */
.btn-outline-success,
.btn-outline-success:hover {
    min-width: 150px;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
    background-color: #1aab4f;
    color: #000000;
}

.btn-outline-success:hover {
    background-color: #1ed760;
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(30, 215, 96, 0.5);
}

/* Red 'Remove' button */
.btn-outline-danger,
.btn-outline-danger:hover {
    min-width: 150px;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
    background-color: #b03024;
    color: #000000;
}

.btn-outline-danger:hover {
    background-color: #c93828;
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(255, 80, 80, 0.5);
}

#view-all-button:hover {
    background-color: #1ed760;
    color: #000000;
    transform: scale(1.00);
    box-shadow: 0 0 10px rgba(30, 215, 96, 0.5);
    transition: all 0.3s ease;
}

/* Wrap highlight logic to the row */
.track-row:hover .td-text-hover {
    color: #1db954;
    /* Spotify Green */
    text-shadow: 0 0 5px rgba(30, 215, 96, 0.7);
    cursor: pointer;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* Dropdown Toggle Button */
.dropdown-toggle {
    width: 156px;
    margin-right: -1.6px;
    background-color: #1e1e1e;
    color: #1aab4f;
    border: 1px solid #333333;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown-toggle:hover {
    background-color: #1ed760;
    color: #000000;
    transform: scale(1.00);
    box-shadow: 0 0 10px rgba(30, 215, 96, 0.5);
    transition: all 0.3s ease;
}

/* Dropdown Menu */
.dropdown-menu {
    width: 148px;
    /* Match toggle button */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #1e1e1e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Dropdown Item */
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0;
    background-color: #1e1e1e;
    color: #1aab4f;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Hover and Active Styles */
.dropdown-item:hover,
.dropdown-item:active {
    background-color: #1db954;
    color: #000000;
}

.table-responsive::-webkit-scrollbar {
    width: 8px;
}

.table-responsive::-webkit-scrollbar-track {
    background: #121212;
    /* dark background */
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #1db954;
    /* Spotify green */
    border-radius: 10px;
    border: 2px solid #121212;
    /* same as background for padding effect */
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background-color: #1ed760;
}

/* Firefox scrollbar */
.table-responsive {
    scrollbar-width: thin;
    scrollbar-color: #1e1e1e #121212;
}

/* No results warning */
.no-results-box {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-left: 4px solid #1db954;
    color: #e0d6c8;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(30, 215, 96, 0.2);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.no-results-box h4 {
    margin-bottom: 0.5rem;
    color: #1db954;
    font-size: 1.25rem;
}

.no-results-box p {
    margin: 0;
    font-size: 1rem;
    color: #cacaca;
}