<div class="content-wrapper">

  <div class="table-responsive shadow-sm">
    <table class="table table-hover align-middle">
      <thead>
        <tr>
          <th *ngIf="!viewAll"><button type="button" class="btn" id="view-all-button"
              (click)="getTracks()">
              View all tracks
            </button></th>
          <th>Artist</th>
          <th>Title</th>
          <th class="text-end">
            <div class="dropdown scrollable">
              <button class="btn dropdown-toggle" type="button" id="playlistDropdown" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ currentPlaylistName || 'Select Playlist' }}
              </button>
              <ul class="dropdown-menu" aria-labelledby="playlistDropdown">
                <li *ngFor="let playlist of playlists">
                  <button class="dropdown-item" (click)="setCurrentPlaylist(playlist)">
                    {{ playlist.name }}
                  </button>
                </li>
                <ng-container *ngIf="playlists.length === 0">
                  <li><span class="dropdown-item text-muted">No playlists available</span></li>
                </ng-container>
              </ul>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of tracks" class="track-row">
          <td>
            <button type="button" class="btn play-button" (click)="playTrack(track.id.toString())">
              <i class="fas fa-play"></i>
            </button>
          </td>
          <td class="td-text-hover" (click)="playTrack(track.id.toString())">{{ track.artist }}</td>
          <td class="td-text-hover" (click)="playTrack(track.id.toString())">{{ track.title }}</td>
          <td class="text-end">
            <button *ngIf="track?.id && !isCurrentPlaylistNull() && checkIfTrackIsInCurrentPlaylist(track)"
              class="btn btn-outline-success btn-sm" (click)="addTrackToPlaylist(track.id)">
              Add track
            </button>
            <button *ngIf="track?.id && !isCurrentPlaylistNull() && !checkIfTrackIsInCurrentPlaylist(track)"
              class="btn btn-outline-danger btn-sm" (click)="removeTrackFromPlaylist(track.id)">
              Remove track
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tracks?.length === 0" class="no-results-box">
    <h4>No results!</h4>
    <p>No tracks were found.</p>
  </div>

</div>