.media-player {
    background-color: #1e1e1e;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    padding: 9px;
}

audio,
audio::-webkit-media-controls-panel {
    border: none;
    border-radius: 25px;
    background: rgb(55, 73, 92);
    background: linear-gradient(243deg, #2d6a4f 3%, #1b9847 51%, #16b34a 80%, #2d6a4f 99%);
}