.media-player {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2000;

  display: flex;
  justify-content: center;
  /* center container horizontally */
  align-items: center;
  /* vertical center items */
  padding: 8px;
  box-shadow: 0 -8px 12px rgba(0, 0, 0, 0.7);
  border: none;
  gap: 10px;
  /* spacing between audio and button */
}

audio,
audio::-webkit-media-controls-panel {
  border: none;
  border-radius: 30px;
  width: 450px;
  padding: px;
  background: linear-gradient(-45deg, #16b34a -10%, #4f43bd 65%, #16b34a 100%);
  box-shadow:
    0 0 3px #2d6a4f,
    0 0 5px #40369a,
    0 0 7px #16b34a;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

audio:hover {
  transform: scale(1.01);
  box-shadow:
    0 0 10px #2d6a4f,
    0 0 15px #40369a,
    0 0 20px #16b34a;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Buttons */
.btn {
  background-color: #1aab4f;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  transition: background-color 0.3s ease;
  color: #000000;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #1ed760;
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(30, 215, 96, 0.5);
  transition: all 0.5s ease;
}

.btn.repeat {
  background-color: #888888;
  /* gray when off */
  color: #000;
  /* black icon text for contrast */
  transition: background-color 0.3s ease;
}

.btn.repeat.active {
  background-color: #1aab4f;
  /* green when on */
  color: #000;
}

.btn.repeat.active:hover {
  background-color: #1ed760;
  transition: all 0.5s ease;
}