<div class="media-player">

  <button class="btn info" (click)="fetchTrackInfoOpenAI()">
    <i class="fa-solid fa-info"></i>
  </button>

  <div class="controls">
    <button class="btn" (click)="prevTrack()"><i class="fa-solid fa-backward-step"></i></button>
  </div>

  <audio #audioPlayer controls [src]="audioFileSource" autoplay (ended)="onTrackEnded()">
    <source type="audio/mpeg">
  </audio>

  <div class="controls">
    <button class="btn" (click)="nextTrack()"><i class="fa-solid fa-forward-step"></i></button>

    <button class="btn repeat" (click)="toggleRepeat()" [class.active]="repeat">
      <i class="fa-solid fa-repeat"></i>
    </button>
  </div>
</div>