<div class="container" id="main-container">
  <!-- Search bar -->
  <form class="form-inline my-2 my-lg-0">
    <input type="search" (ngModelChange)="searchUsers(key.value)" #key="ngModel" ngModel name="key" id="Search"
      class="form-control mr-sm-2 search" placeholder="Search users" required>
  </form>

  <!-- Users List -->
  <div class="row g-4 user-list-container mt-3">
    <div *ngFor="let user of users" class="col-md-6 col-xl-3">
      <div class="card gradient-background">
        <div class="card-body row">
          <div class="col-4">
            <a href="#"><img [src]="user.imageUrl" alt="User Image" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-8 align-self-center">
            <h5>{{ user.firstName }}</h5>
            <h5>{{ user.lastName }}</h5>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent border-0 text-light">
            <i class="fa fa-envelope"></i> {{ user.email }}
          </li>
        </ul>
        <div class="card-body pt-2">
          <div class="d-flex justify-content-end gap-2">
            <button (click)="onViewUserPlaylists(user.id)" class="btn btn-success btn-sm">
              Playlists <i class="fa fa-music"></i>
            </button>
            <button (click)="onOpenModal(user, 'put')" class="btn btn-primary btn-sm">
              <i class="fa fa-pencil"></i>
            </button>
            <button (click)="onOpenModal(user, 'delete')" class="btn btn-danger btn-sm">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- No Users Message -->
  <div *ngIf="users.length === 0" class="alert alert-info mt-4" role="alert">
    <h4 class="alert-heading">No users found!</h4>
    <p>No users were found matching your search.</p>
  </div>

  
</div>