.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212; /* Spotify dark background */
  color: #b3b3b3;            /* Light gray text for contrast */
  margin: 0;
}

.play-button {
  background-color: #1e1e1e;
  color: #1db954;
  font-size: 28px;
  padding: 24px 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.play-button:hover {
  background-color: #1db954;
  color: #121212;
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 0 15px rgba(30, 215, 96, 0.5);
}

.play-button:active {
  transform: scale(0.97);
  box-shadow: 0 0 8px rgba(30, 215, 96, 0.3);
}

.play-button:focus {
  outline: none;
}


